.env
cache/
output/
outputserver/
target/
node_modules/

# IntelliJ
.idea/
*.iml
*.iws

# Private sources
src/test/java/com/felixgrund/codeshovel/priv/

# Private oracles
src/test/resources/oracles/java2/

misc/stubs-generator/csv/
misc/stubs-generator/output/

# Antlr
src/main/antlr4
src/main/java/*ParseTree

# Misc
.DS_Store
