cache/
output/
outputserver/
target/

# IntelliJ
.idea/
*.iml
*.iws

# Private sources
src/test/java/com/felixgrund/codeshovel/priv/

# Private stubs
src/test/resources/stubs/java2/

misc/stubs-generator/**/*
