.env
cache/
output/
outputserver/
target/

# IntelliJ
.idea/
*.iml
*.iws

# Private sources
src/test/java/com/felixgrund/codeshovel/priv/

# Private oracles
src/test/resources/oracles/java2/

misc/stubs-generator/csv/
misc/stubs-generator/output/
