<table>
    <thead>
        <tr>
            {{#each columns}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each changes}}
            <tr>
                {{#each ../columns}}
                    <td>
                        {{../this}}
                        {{lookup ../this this}}
                    </td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>