<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="wrapper">

    <div class="row" id="row-diff">
        <div class="column" id="col-diff-left">

        </div>
        <div class="column" id="col-diff-right">

        </div>
    </div>

    <div class="row" id="row-data">
        <table>
            <thead>
            <tr></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="row" id="row-description">
        Test
    </div>
</div>


</body>
</html>
