@import '../../node_modules/diff2html/dist/diff2html.min.css';


#row-diff {
  background: thistle;
}

#row-data {
  background: darkseagreen;
}

#row-description {
  background: aliceblue;
}

.column {
  flex: 50%;
}

#col-diff-left {
  background: cornflowerblue;
}

#col-diff-right {
  background: gold;
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;          /* instead of using 100% all over, use viewport units once */
}

/* Column container */
.row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}